* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--luna-ft-fam);
}

@font-face {
    font-family: luna;
    src: url(./assets/fonts/Inter-VariableFont_slnt,wght.ttf);
}

:root {
  --luna-gray: #807f7f;
  --luna-white: #fff;
  --luna-dk-blue: rgb(1, 0, 12);
  --luna-red: hsl(5, 85%, 63%);
  --luna-coffee: hsl(35, 77%, 62%);
  --huge-span-fsz: clamp(20px, calc(2vw + 12px), 38px);
  --luna-avg-fsz: 1rem;
  --luna-sm-fsz: 14px;
  --luna-ft-fam: "luna", Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
    padding: 3rem;
}

.container {
    display: grid;
    grid-template: repeat(8, 100px) / repeat(8, 1fr);
    row-gap: 3rem;
    padding: 2rem;
    box-shadow: 3px 3px 5px 3px var(--luna-gray), -3px -3px 5px 3px var(--luna-gray);
}

nav {
    display: flex;
    justify-content: space-between;
    grid-area: 1 / 1 / 2 / 9;
    align-items: flex-end;
}

.open-menu,
.close-menu,
.nav-menu {
    display: none;
}

#nav-links {
    display: flex;
    gap: 13px;
}

#nav-links>a, .nav-menu>a {
    text-decoration: none;
    color: var(--luna-gray);
    font-size: var(--luna-avg-fsz);
}

#nav-links>a:hover{
  color: #d33333;
  border-bottom: 3px solid var(--luna-gray);
  transition: ease-in-out 0.1s;
}

.content-body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-area: 2 / 1 / 7 / 9;
}

.news {
    grid-area: 7 / 1 / 9 / 9;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.huge-text {
    font-size: var(--huge-span-fsz);
    font-weight: 900;
    width: 30%;
}

.content-body>div {
    height: 100%;
}

.left-container {
    grid-area: 1 / 1 / 2 / 4;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.child {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    height: 40%;
}

.child p {
    color: var(--luna-gray);
    font-size: var(--luna-avg-fsz);
    line-height: 3ch;
    word-spacing: 0.6ch;
    font-size: var(--luna-sm-fsz);
}

.read-more {
    background-color: var(--luna-red);
    padding: 10px;
    border: none;
    font-weight: bold;
    font-size: var(--luna-sm-fsz);
    letter-spacing: 3px;
    width: 10rem;
    height: 4rem;
}

.read-more:hover{
  cursor: pointer;
  background-color: #d33333;
  border-radius: 8px;
  transition: ease-in-out 0.5s;
  transform: scale(0.9);
}

.huge-text+div {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.huge-text,
.huge-text+div {
    height: 100%;
}

.img-web3 {
    width: 100%;
    height: 50%;
}

.right-container {
    background: var(--luna-dk-blue);
    grid-area: 1 / 4 / 2 / 6;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-around;
}

.right-container h2 {
    font-weight: bold;
    color: var(--luna-coffee);
}

.right-container h3 {
    color: var(--luna-white);
    font-size: var(--luna-avg-fsz);
    margin-bottom: 8px;
    font-weight: bold;
}

.right-container p {
    color: var(--luna-gray);
    font-size: var(--luna-sm-fsz);
}

hr {
    border-color: var(--luna-gray);
    margin: 1rem 0;
}

.news-list {
    max-width: 30%;
    display: flex;
    gap: 8px;
    max-height: 140px;
}

.news-list>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-list>img {
    max-height: 100%;
    max-width: 150px;
    cursor: pointer;
}

.news-list h2 {
    font-weight: 900;
    color: var(--luna-red);
}

.news-list h3 {
    font-size: var(--luna-avg-fsz);
    font-weight: 900;
}

.news-list p {
    font-size: var(--luna-sm-fsz);
    color: var(--luna-gray);
}

.attribution{
  margin-top: 15px;
}

.attribution>a{
  text-decoration: none;
  color: var(--luna-gray);
  font-style: italic;
  font-weight: bolder;
  font-family: sans-serif;
}

.attribution>a:hover{
  color: #d33333;
  border-bottom: 3px solid var(--luna-gray);
  transition: ease-in-out 0.1s;
  font-style: normal;
}


/* Media Queries Setup for adequate responsiveness */

@media screen and (min-width: 1260px) {
  .container {
    grid-template: repeat(8, 80px) / repeat(8, 1fr);
  }
}



@media screen and (max-width: 720px) {
  body {
    background-color: white;
    padding: 1rem 1rem;
    position: relative;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    box-shadow: none;
    padding: 0;
    row-gap: 2rem;
  }
  
  nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  
  .open-menu {
    display: block;
    grid-area: 1 / 6 / 2 / 7;
    justify-self: end;
  }
  
  .close-menu {
    align-self: flex-end;
    z-index: 3;
    position: relative;
    top: -150px;
    right: 8px;
  }
  
  .nav-menu {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    padding: 10rem 1rem;
    height: 100%;
    width: min(15rem, 70vw);
    background-color: var(--luna-white);
    z-index: 2;
    grid-area: 1 / 3 / 2 / 7;
    position: absolute;
    right: 0;
    font-weight: 700;
  }
  
  #nav-links {
    display: none;
  }
  
  .content-body {
    display: flex;
    flex-direction: column;
  }
  
  .child {
    flex-direction: column;
    height: auto;
    gap: 1rem;
  }
  
  .left-container {
    gap: 1rem;
    padding: 0;
  }
  
  .huge-text,
  .huge-text+div {
    width: 100%;
  }
  
  .content-body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .content-body>div {
    height: auto;
  }
  
  .read-more {
    height: 3rem;
  }
  
  .news {
    flex-direction: column;
  }
  
  .news-list {
    max-width: 100%;
    height: auto;
  }
}